{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "cover 90%"
            }
        ]
    ],
    "plugins": [
        "rewire",
        // "@babel/plugin-transform-modules-umd",
        // "add-module-exports"
    ]
}
